<div class="c-calendar-no-events">
  <div class="c-calendar-no-events__icon">
    {% include '@atoms/icons/'~ icon ~'.twig' %}
  </div>
  <div class="c-calendar-no-events__description">
    {{ description }}
  </div>
  <div class="c-calendar-no-events__button">
    {% include "@atoms/buttons/button.twig" %}
  </div>
</div>
