<div class="c-filter-nav c-filter-nav__{{ block_appearance }}">
  <div class="c-filter-nav__today">
    {% include "@atoms/buttons/button.twig" with today_button %}
  </div>
  <div class="c-filter-nav__prev">
    {% include "@atoms/buttons/button.twig" with prev_button %}
  </div>
  <div class="c-filter-nav__next">
    {% include "@atoms/buttons/button.twig" with next_button %}
  </div>
</div>
